.Foster{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 25%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Parent{
    position:relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Parent::-webkit-scrollbar {
    display: none;
}

.child{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    min-width: 100%;
    /* min-height: auto; */
    border: 2px solid red;
    
}

.ParentScroller{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    top:0;
    border: 2px solid red;
    /* transform: translateY(var(--scroll0)); */
}
